<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Review Database</title>
</head>
<body>
	<a href="/movies/new">Add new rating</a> <br />
	<table>
		<tr>
			<th>Title</th>
			<th>Rating</th>
			<th>Posted By</th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		<!-- Template processor will create multiple rows in table for each person -->
		<tr th:each="movieRating : ${ratingForms}">
			<td th:text="${movieRating.title}"></td>
			<td th:text="${movieRating.rating}"></td>
			<td th:text="${movieRating.userName}"></td>
			<td th:text="${movieRating.date}"></td>
			<td th:text="${movieRating.time}"></td>	
		</tr>
	</table>

</body>
</html>